<div class="page-header">
    <h1>All Jobs</h1>
</div>

<%= form_tag jobs_path, :method => 'get' do %>
    Employer : <%= text_field_tag :employer, params[:employer] %>
    Title : <%= text_field_tag :title, params[:title] %>
    Content : <%= text_field_tag :content, params[:content] %>
    Tag : <%= text_field_tag :tag, params[:tag] %>
    <%= submit_tag "Search", :class => "btn btn-default" %>
<% end %>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Employer</th>
      <th>Category</th>
      <th>Tags</th>
      <th>Deadline</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job, :class => "btn-link job-link" %></td>
        <td><%= job.description %></td>
        <td><%= job.employer.company_name %></td>
        <td><%= job.category.name %></td>
        <td><%= job.tag_list %></td>
        <td><%= job.deadline %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user %>
    <%= render "jobs/recommended_jobs" %>
<% end %>

<style>
    th, td {
        width: 50px;
    }
</style>