<div class="page-header">
  <h1>Jobs Applied for</h1>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Company</th>
      <th>Submitted At</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% @job_applications.each do |job_application| %>
    <tr>
      <td><%= link_to job_application.job.title, job_path(:id => job_application.job_id), :class => "btn btn-link"  %></td>
      <td><%= job_application.job.employer.company_name %></td>
      <td><%= job_application.created_at %></td>
      <td><%= job_application.status.name %></td>
      <td><%= link_to 'Withdraw', job_application, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger"%></td>
    </tr>
  <% end %>
</table>