<h1>Jobs Applied for</h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Company</th>
    <th>Submitted At</th>
    <th>Status</th>
  </tr>
  </thead>
  <% @job_applications.each do |job_application| %>
      <tr>
        <td><%= job_application.job.title %></td>
        <td><%= job_application.job.employer.company_name %></td>
        <td><%= job_application.created_at %></td>
        <td><%= job_application.status.name %></td>
        <td><%= link_to 'Withdraw', job_application, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>