<div class="page-header">
  <h2>Application for <%= @job_application.job.title %></h2>
</div>

<table class="table table-bordered">
  <tbody>
  <tr>
    <td>Name</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><%= @user.phone %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td>Skills</td>
    <td><%= @user.skill_list %></td>
  </tr>
  </tbody>
</table>

<div class="page-header">
  <h4>Resume</h4>
</div>

<%= @user.resume %>

<div class="page-header">
  <h4>Cover Letter</h4>
</div>

<%= @job_application.cover_letter %>

<div class="page-header">
  <h4>Status</h4>
</div>

<%= form_for(@job_application) do |f| %>
    <%= f.hidden_field :old_status_id, :value => @job_application.status_id %>
    <%= f.collection_select :status_id, JobApplication::Status.all, :id, :name %><br>
    <%= f.submit "Change" , :class => "btn btn-default"%>
<% end %>