<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.skill_list %>
</p>

<p>
  <strong>Resume:</strong>
</p>

<p>
  <%= @user.resume %>
</p>

<p>
  <strong>Cover Letter:</strong>
</p>

<p>
  <%= @job_application.cover_letter %>
</p>

<p>
  <strong>Status:</strong>
  <%= form_for(@job_application) do |f| %>
      <%= f.collection_select :status_id, JobApplication::Status.all, :id, :name %>
      <%= f.submit "Change" %>
  <% end %>

</p>

<%= link_to 'Back', job_applications_path %>
