<div class="page-header">
    <h1>All Employers</h1>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Contact name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @employers.each do |employer| %>
      <tr>
        <td><%= employer.company_name %></td>
        <td><%= employer.contact_name %></td>
        <td><%= employer.email %></td>
        <td><%= link_to 'Remove', employer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employer', new_employer_path, :class => "btn btn-default"%>
