<div class="page-header">
  <h1>Posted Jobs</h1>
</div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th>Deadline</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job, :class => "btn-link job-link" %></td>
        <td><%= job.description %></td>
        <td><%= job.category.name %></td>
        <td><%= job.deadline %></td>
        <td><%= link_to 'Edit', edit_job_path(job), :class => "btn btn-default" %>
          &nbsp&nbsp<%= link_to 'Delete', job, method: :delete, data: {confirm: "Are you sure?\nThis will also delete all the applications for this job."}, :class => "btn btn-danger" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path, :class => "btn btn-default" %>

<style>
    th, td {
        width: 50px;
    }
</style>